@import "tailwindcss";

.copilotKitSidebarContentWrapper {
  flex: 1;
  min-width: 0;
  height: 100%;
}

.copilotKitWindow {
  width: 400px !important;
}

@media (min-width: 1536px) {
  .copilotKitWindow {
    width: 500px !important;
  }
}
